<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

    <bean id = "student" class = "org.SpringAssignment1.student">
        <property name = "id" value = "12345"/>
        <property name = "name" value = "Student's name"/>
        <property name = "ph" ref = "Phone"/>
        <property name = "add" ref = "Address"/>
    </bean>

    <bean id = "Phone" class = "org.SpringAssignment1.Phone">
        <property name = "mob" value = "987654321"/>
    </bean>

    <bean id = "Address" class = "org.SpringAssignment1.Address">
        <property name="city" value = "City"/>
        <property name="state" value = "State"/>
        <property name="country" value = "Country"/>
        <property name="zipcode" value = "Zipcode"/>
    </bean>

</beans>